<body class="index-page sidebar-collapse">
  <nav color-on-scroll="50" class="navbar navbar-toggleable-md bg-primary fixed-top navbar-transparent">
    <div class="container">
      <div class="navbar-translate">
        <a href="#" rel="tooltip" title="" data-placement="bottom" class="navbar-brand">eSKay Arts Collective</a>
        <button type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
      </div>
      <div id="navigation" data-nav-image="/img/blurred-image-1.jpg" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <a rel="tooltip" title="Support US" data-placement="bottom" href="https://thefield.org/sa/619617" class="nav-link">
            <p>Support Us</p>
          </a>
          <a rel="tooltip" title="Performances and Pictures" data-placement="bottom" href="#videos" class="nav-link">
            <p>Media</p>
          </a>
          <a rel="tooltip" title="Come See Us Perform" data-placement="bottom" href="#calander" class="nav-link">
            <p>Calendar</p>
          </a>
          <a rel="tooltip" title="Get in Contact With Us" data-placement="bottom" href="#contact" class="nav-link">
            <p>Contact US</p>
          </a><a rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/eSKayArtsCollective/?ref=aymt_homepage_panel" target="_blank" class="nav-link"><i class="fab fa-facebook-square"></i>
            <p class="hidden-lg-up">Facebook</p></a><a rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/eskayartscollective/" target="_blank" class="nav-link"><i class="fab fa-instagram"></i>
            <p class="hidden-lg-up">Instagram</p></a></ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar-->
  <div class="wrapper">
    <div filter-color="light-orange" class="page-header clear-filter">
      <div data-original="/img/DSCF4088_preview.jpg" data-parallax="true" class="page-header-image lazy"></div>
      <div class="container">
        <div style="top:50%;" class="content-center brand"><img src="/img/newlogo.png" alt="" class="logo" />
          <h1>eSKay Arts Collective</h1>
          <h3>Established in 2016 by Shannon Reynolds and Kelly Flansburg, eSKay Arts Collective has grown into a collaboration of artists who are able to grow their ideas through sharing resources and engaging the talents and support of fellow artists in the collective.</h3><br/>
          <a href="https://thefield.org/sa/619617" target="_blank">
            <h4>*We Welcome Your Support and Donations* </h4></a>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="section section-tabs">
        <div class="container">
          <div class="grid-row">
              <h3 class="text-center c-12">Who We Are</h3>
              <h4 class="c-12">Founders</h4>
              <div class="c-12">
                <div id="founders" class="grid-row">

                </div>
              </div>

          </div>
          <div class="grid-row">
            <h4 class="c-12">Current Artisits</h4>
            <div class="c-12">
              <div id="artists" class="grid-row">
              </div>
            </div>

        </div>
        <div class="space-50"></div>
      </div>
    </div>
    <div id="carousel" class="section">
      <div class="container">
        <div class="row justify-content-center">
          <h4 id="videos" class="text-center card">
              <ul role="tablist" data-background-color="yellow" class="nav nav-tabs nav-tabs-neutral justify-content-center">
                <li class="nav-item"><a data-toggle="tab" href="#player" role="tab" class="nav-link active"> Media and Past Performances</a></li>
              </ul>
              <div class="card-block">
                <!-- Tab panes-->
                <div class="tab-content text-center">
                  <div id="player" role="tabpanel" class="tab-pane active">
                    <div id="playerLightbox">
                      <script src="//players.brightcove.net/5530036749001/default_default/index.min.js"></script>
                      <video id="player" data-account="5530036749001" data-playlist-id="5531483324001" data-player="default" data-embed="default" data-application-id="" controls="" class="video-js vjs-hidden"></video>
                    </div>
                    <div id="playerClose" onclick="hideAndStop();" class="playerClose vjs-hidden">close<br/><br/></div>
                    <ol class="vjs-lightbox-playlist"></ol><br/>
                    <hr/><br/>
                    <p class="text-center">Photographs</p>
                    <div id="carouselExampleControls" class="carousel slide">
                      <ol class="carousel-indicators"></ol>
                      <div role="listbox" class="carousel-inner">
                        <div class="carousel-item active"><img src="/img/DSCF4061_preview.jpg" alt="First slide" class="d-block"/>
                          <div class="carousel-caption d-none d-md-block"></div>
                        </div>
                      </div><a href="#carouselExampleControls" role="button" data-slide="prev" class="carousel-control-prev"><i class="now-ui-icons arrows-1_minimal-left"></i></a><a href="#carouselExampleControls" role="button" data-slide="next" class="carousel-control-next"><i class="now-ui-icons arrows-1_minimal-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </h4>
        </div>
      </div>
    </div>
    <div id="calander" data-background-color="black" class="section section-download">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="text-center col-lg-12">
            <h3 class="title">See What We Have Coming Up</h3>
            <div class="justify-content-md-center calendar-container">
              <iframe src="https://calendar.google.com/calendar/embed?src=eskaydance%40gmail.com&amp;ctz=America/New_York" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-background-color="black" class="section">
      <div class="container">
        <div class="row">
          <div id="contact" data-background-color="yellow" class="card">
            <form method="get" action="/email" enctype="multipart/form-data" class="form">
              <div class="header header-primary text-center"><img src="/img/logo.png" alt="" class="n-logo" />
                <h4 class="title title-up">Talk To Us</h4>
                <div class="content"></div>
                <div class="input-group form-group-no-border"><span class="input-group-addon"><i class="now-ui-icons users_circle-08"></i></span>
                  <input type="text" name="name" placeholder="Name..." class="form-control" />
                </div>
                <div class="input-group form-group-no-border"><span class="input-group-addon"><i class="now-ui-icons ui-1_email-85"></i></span>
                  <input type="text" name="email" placeholder="Email..." class="form-control" />
                </div>
                <div class="input-group form-group-no-border"><span class="input-group-addon"></span>
                  <textarea type="text" name="message" placeholder="Message..." class="form-control"></textarea>
                </div>
              </div>
              <div class="footer text-center">
                <input type="submit" value="submit" class="btn btn-neutral btn-round btn-lg" />
              </div>
            </form>
          </div>
        </div><br/><br/>
        <div class="row justify-content-md-center sharing-area text-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3>Legal</h3>
            <h5>eSKay Arts Collective- is a sponsored artist with Performance Zone Inc (dba The Field), a not-for-profit, tax-exempt, 501(c)(3) organization serving the performing arts community. Contributions to The Field earmarked for Shannon Reynolds are tax-deductible to the extent allowed by law. For more information about The Field contact: The Field, 75 Maiden Lane, Suite 906 New York, NY 10038, phone: 212-691-6969; or for our national charities registration, </h5>
            <a href="https://thefield.org/sa/619617" target="_blank">
              <h4>see details. </h4></a>
            <h5>A copy of our latest financial report may be obtained from The Field or from the Office of Attorney General, Charities Bureau, 120 Broadway, New York, NY 10271.</h5>
            <a href="https://thefield.org/sa/619617" target="_blank">
              <h2>Thank you for supporting us!</h2></a>
          </div>
          <div class="text-center col-md-12 col-lg-8"><a target="_blank" href="https://www.facebook.com/eSKayArtsCollective/?ref=aymt_homepage_panel" rel="tooltip" title="Like us" class="btn btn-neutral btn-icon btn-facebook"><i class="fab fa-facebook-square" style="padding-top:14px;"></i></a><a target="_blank" href="https://www.instagram.com/eskayartscollective/"
              rel="tooltip" title="Follow us" class="btn btn-neutral btn-icon btn-Instagram"><i class="fab fa-instagram" style="padding-top:14px;"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/dist/scripts.min.js" type="text/javascript"></script>

  <footer data-background-color="black" class="footer">
    <div class="container">
      <nav>
        <ul>
          <li><a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">MIT License</a></li>
        </ul>
      </nav>
      <div class="copyright"></div>©
      <script>
        document.write(new Date().getFullYear())
      </script>, Designed and Coded by <a href="https://www.Instagram.com/in/revinkey/" target="_blank">Kevin Reynolds</a>
      <script src="/js/now-ui-kit.js" type="text/javascript"></script>

      <script type="text/javascript">

        bc(document.getElementsByClassName('video-js')[0]);
        videojs('player').ready(function() {
          var myPlayer = this;
          var playlistDiv = document.getElementsByClassName('vjs-lightbox-playlist')[0];
          myPlayer.on('loadeddata', function() {
            setTimeout(function() {
              var playlist = myPlayer.playlistMenu.items;
              for (var i = 0; i < playlist.length; i++) {
                playlistDiv.appendChild(playlist[i].el());
                playlist[i].el().addEventListener('click', function(i) {
                  return function() {
                    document.getElementById("playerLightbox").className = " ";
                    myPlayer.removeClass('vjs-hidden');
                    document.getElementById("playerClose").className = "playerClose";
                    if (playlist[i].item.longDescription) {
                      document.getElementById("playerClose").innerHTML = '<hr/>' + playlist[i].item.longDescription + '<hr/>';
                    } else {
                      document.getElementById("playerClose").innerHTML = '<hr/>';
                    }
                    document.getElementById("playerLightbox").className = " ";
                  }
                }(i))
              }
            }, 2000);
          })
        })
        //artists section
        var artists = {{{toJSON artists}}};
        $.each(artists.artist, function(index, element){
          let artistsSection = document.getElementById('artists');
          let foundersSection = document.getElementById('founders');
          var cardParent = document.createElement('div');
          cardParent.className = "c-4";
          var card = document.createElement('aside');
          card.className = "artist-card";
          var image = document.createElement('div');
          image.className = "artist-image";
          image.style.backgroundImage = 'url('+ element.image+ ')';
          var icon = document.createElement('i');
          icon.className = "bio-button far fa-id-card";
          image.appendChild(icon);
          var name = document.createElement('div');
          name.className = "artist-name";
          name.innerText = element.name;
          var title = document.createElement('div');
          title.className = "artist-title";
          title.innerText = element.title;
          card.appendChild(title);
          card.appendChild(name);
          card.appendChild(image);
          cardParent.appendChild(card);

          //bio
          var bioNav = document.createElement('div');
          bioNav.className = "sidenav";
          bioNav.id = element.name;
          var close = document.createElement('div');
          close.className = "closebtn";
          close.innerText = 'X';
          var bioImage = document.createElement('img');
          bioImage.src = element.image;
          bioImage.className = "artist-bio-image";
          var bioDiv = document.createElement('div');
          bioDiv.className = "artist-bio";
          var bioName = document.createElement('h1');
          bioName.innerText = element.name;
          var bio = document.createElement('p');
          bio.innerText = element.bio;
          bioDiv.appendChild(bioName);
          bioDiv.appendChild(bio);
          bioNav.appendChild(bioDiv);
          bioNav.appendChild(bioImage);
          bioNav.appendChild(close);

          if (element.title === "Co-Founder") {
            //co-founder
            foundersSection.appendChild(cardParent);
            foundersSection.appendChild(bioNav);


          }else{
            artistsSection.appendChild(cardParent);
            artistsSection.appendChild(bioNav);
          }
          card.addEventListener('click', function() {
            openNav(element.name)
          });
          close.addEventListener('click', function(){
            closeNav(element.name);
          })
        })
        //picture section
        var pictures = {{{toJSON pictures}}};
        var picholder = document.getElementsByClassName('carousel-inner')[0];
        $.each(pictures.sources, function(index, element) {
          var img = document.createElement('img');
          var desc = document.createElement('p');
          desc.innerText = element.desc;
          var imgdiv = document.createElement('div');
          imgdiv.className = "carousel-item";
          img.setAttribute('class', 'd-block lazy1');
          img.setAttribute('data-original', element.src);
          imgdiv.appendChild(img);
          imgdiv.appendChild(desc);
          picholder.appendChild(imgdiv);
        });
        $(function() {
          $(".lazy").lazyload({
            event: "sporty"
          });
        });
        $(window).bind("load", function() {
          var timeout = setTimeout(function() {
            $(".lazy").trigger("sporty")
          }, 3000);
        });
        $(function() {
          $(".lazy1").lazyload({
            event: "sporty1"
          });
        });
        $(window).bind("load", function() {
          var timeout = setTimeout(function() {
            $(".lazy1").trigger("sporty1")
          }, 3000);
        });
        function openNav(id) {
            document.getElementById(id).style.width = "100%";
            document.getElementById(id).style.zIndex = 2000;
        }

        function closeNav(id) {
            document.getElementById(id).style.width = "0";
            document.getElementById(id).style.zIndex = 0;

        }


        function hideAndStop() {
          videojs("player").pause();
          videojs("player").addClass('vjs-hidden');
          document.getElementById("playerLightbox").className = "vjs-hidden";
          document.getElementById("playerClose").className = "vjs-hidden";
        }
        $(document).ready(function() {
          // the body of this function is in assets/js/now-ui-kit.js
            nowuiKit.initSliders();

        });
      </script>
    </div>
  </footer>
  </div>
</body>
