<!DOCTYPE html>
<html>

<head>
  <title>eSKay Arts Collective</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <nonscript>
    <link href="/css/dist.min.css" async="async" rel="stylesheet"/>
  </nonscript>
</head>

<body>
  {{{body}}}
</body>

</html>
